{% extends 'base.html' %}
{%block navbar%}
    <a href="./home">Home</a>
    <h1> | </h1>
    <a href="./quemSomos">Quem Somos</a>
    <h1> | </h1>
    <a>Contato</a>
{% endblock %}
{% block conteudo %}
    <h1>Entre em contato</h1>
    <p>Descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato.</p>
    <hr/>
    <form>
        <label for="email">Seu e-mail:</label><br/>
        <input class="inputText" type="email" placeholder="Insira um email"><br/>
        <label for="assunto">Assunto:</label><br/>
        <input class="inputText" type="text" placeholder="Insira um assunto"><br/>
        <label for="assunto">Descrição:<br/></label>
        <textarea name="descricao" type="text "placeholder="Insira uma descrição"></textarea><br/>
        <input class="inputButton" type="submit" value="Enviar">
    </form>
{% endblock %}