{% extends 'base.html' %}
{%block navbar%}
    <a>Home</a>
    <h1> | </h1>
    <a href="./quemSomos">Quem Somos</a>
    <h1> | </h1>
    <a href="./contato">Contato</a>
{% endblock %}

{% block conteudoExtra %}
    <!--    Capa !-->
    <div class="cover">
        <a class="startEnd"></a>
        <div class="center">
            <img src="./../static/img/capa.png" alt="imagem_capa" class="imgCenter">
        </div>
        <a class="startEnd"></a>
    </div>
{% endblock %} 

{% block conteudo %}
    <!-- Textos -->
    <h1>Sobre a universidade</h1>
    <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
    <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
{% endblock %}